#preview_banner {
  margin: 10px;
}

.hdsb-stickybanner-admin-table input[type=text], .hdsb-stickybanner-admin-table input[type=url] {
  width: 100%;
}
.hdsb-stickybanner-position .hdsb-stickybanner-position-radios {
  display: flex;
}

.hdsb-stickybanner-position label {
  margin-right: 30px;
}

.hdsb-stickybanner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  font-family: Arial, sans-serif;
  
}

/* Normalise all text */
.hdsb-stickybanner * {
  font-size: 15px;
  line-height: normal;
  letter-spacing: normal;
  letter-spacing: -.022em;
}

.hdsb-stickybanner-text {
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: normal;
  word-spacing: .15em;
  font-family: Arial, sans-serif;
}

.hdsb-stickybanner-btn {
  padding: 4px 8px;
  margin: 0 10px;
  transition: all ease-in-out .2s;
  min-width: 180px;
  font-weight: bold;
  letter-spacing: normal;
  font-family: Arial, sans-serif;
}
.hdsb-stickybanner-btn:hover {
  text-decoration: none;
  transform: scale(1.05);
}

@media (min-width:650px) {
  .hdsb-stickybanner {
    flex-direction: row;
    padding: 14px 30px;
    flex-wrap: wrap;
  }
  .hdsb-stickybanner * {
    font-size: 15px;
  }
  .hdsb-stickybanner-text {
    margin-bottom: 0;
  }
}

@media (min-width:769px) {
  .hdsb-stickybanner * {
    font-size: 17px;
  }
  .hdsb-stickybanner-admin-table input[type=text], .hdsb-stickybanner-admin-table input[type=url] {
    width: 80%;
  }
}